.title{
  color: rgb(132, 129, 129);
  padding: 10px;
  margin:10px;
  }
  .ul li span title{
 text-decoration: none;
  }
  .headings{
    padding: 10px;
    margin:10px;
    color: black;
    font-size: larger;
  }
  .info{
    color: black;
    margin-left: 10px;
  }
  .link{
    text-decoration: none;
  }
  .doc{
    color:rgb(30, 30, 115);
    font-size: 25px;
  }
  .pdf{
    color:rgb(146, 32, 32);
    font-size: 25px;
  }