################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KotiCRM.Repository/bin/Debug/net8.0
/KotiCRM.Repository/obj
/KotiCRM.Server/bin/Debug/net8.0
/KotiCRM.Server/obj
/KotiCRM.Services/bin/Debug/net8.0
/KotiCRM.Services/obj
/UpgradeLog.htm
/koticrm.reactui/obj/Debug
/koticrm.reactuits/.vscode
/koticrm.reactuits/node_modules
/koticrm.reactuits/obj/Debug
/koticrm.reactuits/package-lock.json
/koticrm.reactuits/dist
/KotiCRM.Repository/bin/Release/net8.0
/KotiCRM.Server/bin/Release/net8.0
/KotiCRM.Services/bin/Release/net8.0
/publish
