.select-main {
    width: auto;
    position: relative;
    margin-bottom: 1rem;
    // height: 50px;

    .select-secondary {
        background-color: #ffffff;
        width: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.25rem;
        border: 1px solid #bfc1c1;
    }

    .select-options {
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 0;
        z-index: 999;
        width: 100%;

        list-style: none;
        margin-top: 0.5rem;
        padding: 0;
        background-color: #ffffff;
        max-height: 15rem;
        overflow-y: auto;
        border: 1px solid transparent;
        border-radius: 0.25rem;

        &.open {
            max-height: 200px;
            border-color: #bcbdbd;
        }

        &.close {
            max-height: 0px;
        }

        .serach-input {
            display: flex;
            align-items: center;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            border: 1px solid #9a9c9d;
            // border-radius: 0.25rem;
            margin: 0.5rem;

            input {
                color: #777777;
                padding: 0.5rem;
                outline: none;
                width: 100%;
                border: none;
            }
        }

        li {
            padding: 0.5rem;
            font-size: 0.85rem;

            &:hover {
                background-color: #59859e;
                color: #ffffff;
                cursor: pointer;
                // border-radius: 0.25rem;
            }
        }

        .selected-option {
            background-color:  #59859e;
            color: #ffffff;
        }
    }
}