.title{
  color: rgb(132, 129, 129);
  padding: 10px;
  margin:10px;
  font-size: larger;
  }
  .ul li span title{
 text-decoration: none;
  }
  .headings{
    padding: 10px;
    margin:10px;
    color: black;
    font-size: larger;
  }
  .info{
    color: black;
    margin-left: 10px;
    font-size: larger;
  }
  .link{
    text-decoration: none;
  }
  .doc{
    color:rgb(30, 30, 115);
    font-size: 25px;
  }
  .pdf{
    color:rgb(146, 32, 32);
    font-size: 25px;
  }
  ul li {
    list-style: none;
  }
  .right{
    margin-top: 60px;
    
  }
  .person{
    color: rgb(210, 200, 200);
    font-size: 33px;
    margin-right: 10px;
  }
  .linking{
    color: rgb(88, 129, 224);
  }
  .textarea{  
    margin-top: 20px;
    padding-top: 10px;
  }
  #cancel{
    margin:5px;
    padding-left:10px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  #save{
    padding-left:10px;
    justify-content: center;
    align-items: center;
   padding-right: 10px;
  }
  #leftForm {
    font-size: 15px;
    margin:20px;
  }
  #rightForm{
    margin:20px;
  }
  .col-sm-3{
    color:rgb(143, 137, 137);
  }
  .col-sm-9{
    color:rgb(143, 137, 137);
    padding: 10px;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 20px; */
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
  }
  .form-group {
    margin-bottom: 20px;
  }
  .col-form-label {
    font-size: 16px;
    padding-left: 30px;
  }
  .label-form{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0 20px 0;

  }
  .btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin:5px;
  }
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
  }
  .error {
    color: #dc3545;
    font-size: 0.875rem; /* 14px */
    margin-top: 4px;
  }
  
  .form-error{
    margin-top: 1px;
	color: rgb(255,0,0);
  font-weight: 600;
}

/* .form-control {
  border: 1px solid red;
} */
.account-list li {
  margin-bottom: 20px;
}
.account-list li p {
  font-weight: 500;
  margin-top: 4px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color:  #0d6efd;
}
.nav-tabs .nav-link {
  color:rgba(0, 0, 0);
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 74%;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 2, 2, 0.5); /* You can adjust the opacity as needed */
  z-index: 999; /* Ensure the backdrop is above other elements */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 101; /* Ensure the spinner is above the backdrop */
  backdrop-filter: hue-rotate(45deg);
}

.spinner-border::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.content {
  margin-top: 50px;
  text-align: center;
}
.datePicker .react-datepicker-wrapper {
 
  width: 100%;
}
.custom-dropdown .custom-toggle {
  background-color: transparent !important;
  border: none;
  border: 1px solid #2b72be; /* light blue color */
  color: #000; /* text color */
  padding: 0.5rem 1rem; /* adjust padding as needed */
}

.custom-dropdown .custom-toggle:hover {
  background-color: transparent !important;
}

.custom-dropdown .custom-menu {
  background-color: #fff !important;
  border: none;
  z-index: 1000; /* set a higher z-index */
}

.custom-dropdown .custom-menu .dropdown-item {
  color: #000; /* text color */
}

.custom-dropdown .custom-menu .dropdown-item:hover {
  background-color: #59859e;
  ; /* hover background color */
}
.profile-info label{
  margin-bottom: 8px;
  

}
/* Add this CSS to your existing stylesheet or create a new one */

.headings {
  color: #131212; /* Darker color for headings */
  font-weight: bolder; /* Make headings bold */
}

.value {
  color: #777; /* Lighter color for values */
}
.account-list li p {
  font-weight: 500;
  margin-top: 4px;
}
.user-list li p {
  font-weight: 500;
  margin-top: 4px;
}
.contact-list li p {
  font-weight: 500;
  margin-top: 4px;
}
 .centered-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

}.header-nav {
  display: flex;
  align-items: center;
  /* background-color: #f8f9fa; */
  padding: 10px;
}
.header-nav .nav-link.active {
  background-color: #3498db;
  color: #fff;
}
.nav-item {
  margin-right: 5px;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.nav-item a.active-link,
.nav-item a:hover {
  background-color: #3498db;
  color: #fff;
}
