.title{
  color: rgb(132, 129, 129);
  padding: 10px;
  margin:10px;
  font-size: larger;
  }
  .ul li span title{
 text-decoration: none;
  }
  .headings{
    padding: 10px;
    margin:10px;
    color: black;
    font-size: larger;
  }
  .info{
    color: black;
    margin-left: 10px;
    font-size: larger;
  }
  .link{
    text-decoration: none;
  }
  .doc{
    color:rgb(30, 30, 115);
    font-size: 25px;
  }
  .pdf{
    color:rgb(146, 32, 32);
    font-size: 25px;
  }
  ul li {
    list-style: none;
  }
  .right{
    margin-top: 60px;
    
  }
  .person{
    color: rgb(88, 129, 224);
    font-size: 30px;
  }
  .linking{
    color: rgb(88, 129, 224);
  }
  .textarea{
    margin-top: 20px;
    padding-top: 10px;
  }
  #cancel{
    margin:5px;
    padding-left:10px;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  #save{
    padding-left:10px;
    justify-content: center;
    align-items: center;
   padding-right: 10px;
  }
  #leftForm {
    font-size: 15px;
    margin:20px;
  }
  #rightForm{
    margin:20px;
  }
  .col-sm-3{
    color:rgb(143, 137, 137);
  }
  .col-sm-9{
    color:rgb(143, 137, 137);
    padding: 10px;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
  }
  .form-group {
    margin-bottom: 20px;
  }
  .col-form-label {
    font-size: larger;
    padding: 5px;
  }
  .btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin:5px;
  }
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
  }
  .error {
    color: #dc3545;
    font-size: 0.875rem; /* 14px */
    margin-top: 4px;
  }
  
  .form-error{
    margin-top: 3px;
	color: rgb(255,0,0);
}